.filmInfo {
    display: flex;
}

.filmSection {
    max-width: 1400px;
    margin: auto;
    margin-top: 20px;
}

.rightInfo {
 margin-left: 20px;
}

.filmName {
    margin-bottom: 50px;
}

.spanOwer {
    width: 100px;
}

.addInfo {
    text-align: center;
    margin-top: 50px;
}

.addList {
    display: flex;
    list-style: none;
    margin-left: 580px;
}

.addLink {
    text-decoration: none;
    color: rgb(92, 92, 92);
    margin-left: 20px;
    font-weight: 700;
}

.addLink:hover {
    color: bisque;
}


.border {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

.backButton {
    background-color: white;
    border-radius: 5px;
    background-color: antiquewhite;
    margin-bottom: 20px;
}

.buttonLink {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 10px;
}